* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(253, 253, 253);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 170, 170);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747171;
}
.menu {
  margin: 0 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: aliceblue;
}
.menu >div> button {
  padding: 10px;
  border: none;
  color: white;
  box-shadow: 2px 2px 5px rgb(213, 188, 236);
  background-color: blueviolet;
  border-radius: 10px;
  cursor: pointer;
}
.menu >div> button:hover {
  padding: 10px;
  border: none;
  color: white;
  box-shadow: 2px 2px 5px rgb(213, 188, 236);
  background-color: rgb(119, 40, 192);
  border-radius: 10px;
  cursor: pointer;
}
.menu>div>h3{
  text-align: center;
}
.registerForm {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70%;
  margin-top: 20px;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: beige;
  border-radius: 10px;
  box-shadow: 2px 2px 5px beige;

  margin-top: 2%;

  padding: 30px 20px;
}
.registerForm > h4 {
  text-align: center;
}
.inputDiv {
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputDiv > label {
  width: 50%;
  font-weight: 500;
}
.inputDiv > input {
  border: none;
  width: 50%;
  padding: 10px;
  border-bottom: solid 1px brown;
}
.checkBtn {
  padding: 20px;
  margin: 10px;
}
.agree {
  padding: 0 10px;
  cursor: pointer;
}
.btn {
  position: relative;
  left: 50%;
  margin: 10px 0;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  /* margin: 5%; */
  background-color: green;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(188 236 188);
}
.btn:hover {
  position: relative;
  left: 50%;
  margin: 10px 0;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  /* margin: 5%; */
  background-color: rgb(0, 78, 0);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(188 236 188);
}

.conformation {
  border-radius: 10px;
  width: 60%;
  margin: auto;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(225, 243, 213);
  box-shadow: 2px 2px 5px rgb(157, 222, 224);
}
.conformation > h3,
h5 {
  text-align: center;
  color: darkolivegreen;
  padding: 10px;
}
.conformation > h6 {
  text-align: center;
  width: 70%;
  font-size: larger;
  font-style: normal;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  color: white;
  padding: 10px;
  background-color: green;
}
.conformation > .constant {
  width: 80%;
  margin: auto;
}
.conformation > .constant > .list {
  display: flex;
  justify-content: start;
  align-items: center;
}
.conformation > .constant > .list > p {
  width: 33.33%;
  padding: 10px;
}
.conformation > .btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  width: 30%;
  margin: 30px 0;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(188, 236, 188);
}
.close {
  position: absolute;
  top: 8%;
  right: 6%;
  font-size: x-large;
  cursor: pointer;
  color: red;
  border-radius: 50%;
  width: 10px;
}

#registerForm > .close {
  position: absolute;
  top: 8%;
  right: 11%;
  z-index: 10000;
  margin: 10px;
  color: red;
  font-size: x-large;
  cursor: pointer;
  border-radius: 50%;
  width: 10px;
}
#login {
  width: 60%;
  margin: auto;

  margin-top: 1%;

  height: 70%;
}
#login > .close {
  position: absolute;
  top: 13%;
  right: 15%;
  font-size: x-large;
  cursor: pointer;
  color: red;
  border-radius: 50%;
  width: 10px;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 20px;
  transform: translate(-50%, -50%);

  background-color: beige;
  border-radius: 10px;
  box-shadow: 2px 2px 5px beige;
}
.login > h3 {
  text-align: center;
}
.login > .btn {
  position: relative;
  left: 50%;
  margin: 10px 0;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  /* margin: 5%; */
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(188 236 188);
}
.login > .btn:hover {
  position: relative;
  left: 50%;
  margin: 10px 0;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  /* margin: 5%; */
  background-color: rgb(0, 0, 163);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(188 236 188);
}
/* #loginSuccess{
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -100;
    transform: translate(-50%, -50%);
} */
.customerPage {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  padding: 20px;
  transform: translate(-50%, -50%);

  background-color: beige;
  border-radius: 10px;
  box-shadow: 2px 2px 5px beige;
}
.customerPage > button {
  position: absolute;
  top: 10%;
  right: 3%;
  background-color: brown;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 20px;
}

.customerPage > .head {
  background-color: rgb(226, 111, 111);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.customerPage > .head > a {
  padding: 10px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
.customerPage > .viewport {
  text-align: center;
  padding: 20px 10px;
}
.viewpolices {
  margin-top: 20px;
  width: 90%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  padding: 20px;
  transform: translate(-50%, -50%);
  /* overflow-y: scroll; */
  background-color: beige;
  border-radius: 10px;
  box-shadow: 2px 2px 5px beige;
}
.viewpolices > .search {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
}
.viewpolices > .search > label {
  padding: 10px;
}
.viewpolices > .search > .searchFiled {
  display: flex;
  justify-content: end;
  align-items: center;
}
.viewpolices > .search > .searchFiled > input {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  border: none;
  box-shadow: 2px 2px 5px rgb(236, 211, 204);
}
.viewpolices > .search > .searchFiled > button {
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;

  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(218, 188, 236);
}
.viewpolices > .search > .searchFiled > button:hover {
  padding: 10px;
  background-color: rgb(120, 39, 196);
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;

  cursor: pointer;
  box-shadow: 2px 2px 5px rgb(188 236 188);
}
.viewpolices > h4 {
  text-align: center;
}
.fixTableHead {
  overflow-y: auto;
  height: 70%;
  border-radius: 10px;
  /* padding: 10px; */
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
table {
  position: relative;
  margin: auto;
  padding: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  text-align: left;
  padding: 8px;
  background-color: skyblue;
  color: darkslategrey;
}
td {
  padding: 8px;
}
tr {
  height: 30px;
  width: auto;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
